
<% if session[:list_create_success] %>
  <div class="flash success">
    <p>
      <%= session.delete(:list_create_success) %>
    </p>
  </div>
<% end %>

<ul id="lists">
  <% @lists.each do |list| %>
    <a>
      <li>
        <h2><%= list[:name] %></h2>
        <p><%= list[:todos].size %></p>
      </li>
    </a>
  <% end %>
</ul>

<a href="/lists/new">Add New Todo List</a>